{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <section class="image-teacher" style="background: url(https://source.unsplash.com/collection/1361815/600x400) no-repeat center center / cover"></section>
        <section class="details">
            <h3>Informações</h3>
            <div class="item">
                <div>Nome Completo</div>
                <div>Adriano Lopes</div>
            </div>
            <div class="item">
                <div>Idade</div>
                <div>30 anos</div>
            </div>
            <div class="item">
                <div>Grau de Escolaridade</div>
                <div>Mestrado</div>
            </div>
            <div class="item">
                <div>Tipo de Aula</div>
                <div>Presencial</div>
            </div>
            <div class="item">
                <div>Acompanhamento</div>
                <span>Matemática</span>
                <span>Física</span>
            </div>
            <div class="item">
                <div>Desde</div>
                <div>10/10/2019</div>
            </div>
        </section>
    </div>

{% endblock content %}